<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles/styles.css" />
  <title>{{ section.title }}</title>
</head>

<body>
    <div class="bg-red-300 flex flex-row -p-2 m-2 rounded-xl">
        <div class="flex justify-between items-center mx-auto w-full max-w-prose h-20">
            <div>{{ section.title }}</div>
              <div>
                {% for nav in config.extra.navlink %}
                <a class="font-bold px-4 py-2 h-10 hover:bg-red-400 rounded-xl">{{ nav.name }}</a>
                {% endfor %}
              </div>
            </div>
        </div>
    </div>
  <section class="section">
    <div class="container mx-auto max-w-prose my-10">
      <div class="prose">
        {{ section.content | safe }}
      </div>
      {% block content %} {% endblock %}
    </div>
  </section>
</body>

</html>
