{% extends "index.html" %}

{% block debug %}taxonomy_list.html{% endblock %}

{% block content %}


<div class="flex flex-row mx-auto justify-center items-start">
    <div class="bg-slate-100 p-5 m-2 rounded-t-lg w-[65ch]"> <!-- 65ch is w-prose -->

        <div class="flex flex-wrap justify-center">
            {% for term in terms %}
            <a href="{{term.permalink | safe}}">
                <div class="mx-2">#{{ term.name }}</div>
            </a>
            {% endfor %}
        </div>

        {% for term in terms %}
        <a href="{{term.permalink | safe}}">
            <div class="text-2xl font-bold mt-8 mb-4">{{ term.name }}</div>
        </a>
        <ul>
            {% for page in term.pages %}
            <li class="flex flex-row mt-2 justify-between">
                <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
                {% if page.date %}
                <span>{{ page.date | date(format="%B %d, %Y")}}</span>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
</div>
{% endblock %}